
body, html {
    overflow: hidden;
    height: 100%;
    margin: 0;
}

body {
    background-color: #54c06a;
}

body:after {
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    position: absolute;
    z-index: -1;
    background-color: #c05456;
    content: "";
}

hr {
    position: relative;
    top: 49%;
    height: 0.5em;
    background-color: black;
}

.playerInfo {
    background-color: black;
    color: white;
    position: relative;
    height: 10em;
    width: 15em;
    margin-right: 1em;
    padding: 1em;
    top: 40%;
    z-index: 1;
    float: right;
}

.EnemyInfo {
    background-color: black;
    color: white;
    position: relative;
    height: 10em;
    width: 15em;
    margin-left: 1em;
    padding: 1em;
    top: 40%;
    z-index: 1;
    float: left;
}

.endPhase {
    background-color: black;
    color: white;
    position: relative;
    height: 5em;
    width: 10em;
    margin-right: 1em;
    float: right;
    top: 90%;
    left: 15%;
}