body {
    height: 100%;
    margin: 0;
    background-color: black;
}

html, #empty-page, #index, #arena, #editor {
    overflow: hidden;
    height: 100%;
    width: 100%;
    margin: 0;
}

#index-bg {
    background: url('../Images/bgToggo.jpg') center/cover no-repeat;
    filter: blur(8px);
    height: 100%;
    width: 100%;
    z-index: 1;
}

#index-menu-container {
    background: url('../Images/Toggo.png') center/cover no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 30em;
    height: 42em;
    padding: 20px;
    text-align: center;
}

.menu-top {
    color: black;
    width: 30em;
    height: 3em;
    margin-top: 1em;
}

.menu-title {
    font-size: x-large;
    font-weight: bold;
}

.menu-color img {
    width: 30px;
    position: absolute;
    top: 2.1em;
    right: 2.5em;
    border: 1px solid black;
    border-radius: 50%;
}

.menu-button-title {
    font-size: larger;
    font-weight: bold;
}

.deck-menu {
    position: absolute;
    width: 30em;
    top: 28em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 3;
}

.deck-menu-title {
    font-size: larger;
    font-weight: bold;
    margin-bottom: 2em;
}

.deck-button {
    background: url('../Images/deckbutton.png') center/cover no-repeat;
    filter: grayscale(100%);
    border: none;
    cursor: pointer;
    width: 33.4em;
    height: 2.5em;
    position: absolute;
    top: 30.2em;
    left: 2.7em;
}

.start-button {
    background: url('../Images/startbutton.png') center/cover no-repeat;
    filter: grayscale(100%);
    border: none;
    cursor: pointer;
    width: 33.4em;
    height: 15.8em;
    position: absolute;
    top: 34.2em;
    left: 2.7em;
}

button:hover {
    filter: grayscale(0%);
}

.basic-deck-menu {
    position: relative;
    height: 75%;
    width: 86%;
    left: 14%;
    padding-top: 2em;
    align-self: center;
}

/* Um die Radios zu als Bilder anzuzeigen, werden die Radios unsichtbar gemacht und die <img> übernehmen die Radio-Funktionen. */
.basic-deck-menu > label > [type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.basic-deck-menu > label > [type=radio] + img {
    cursor: pointer;
}

.basic-deck-menu > label > img {
    width: 50px;
    height: 50px;
    border: 2px solid black;
    border-radius: 50%;
    background-size: cover;
    filter: brightness(50%);
}

.basic-deck-menu > label > [type=radio]:checked + img {
    filter: brightness(100%);
}

.basic-deck-menu > label > [type=radio]:disabled:hover + img {
    cursor: not-allowed;
}

.own-deck-menu {
    position: relative;
    height: 75%;
    width: 86%;
    padding-top: 53px;
}

.no-own-deck {
    position: relative;
    width: 92%;
    padding-top: 100px;
}

#own-deck-selector, #deck-submit-button {
    height: 2em;
    width: 10em;
    margin-top: 1em;
}

.deck {
    background-size: cover;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    filter: brightness(50%);
}

.deck:hover {
    filter: brightness(100%);
}

.reddeck {
    background-image: url('../Images/red.png');
}

.bluedeck {
    background-image: url('../Images/blue.png');
}

.greendeck {
    background-image: url('../Images/green.png');
}

.blackdeck {
    background-image: url('../Images/black.png');
}

.whitedeck {
    background-image: url('../Images/white.png');
}

.logo {
    max-width: 25%;
    height: auto;
    position: absolute;
    top: 75%;
}

.credits {
    height: 200px;
    width: 200px;
    background-color: #e14a3b;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    position: absolute;
    font-size: larger;
    top: 70%;
    left: 80%;
}

#start-game-menu, #choose-deck-menu, #new-deck-menu, #waiting-menu {
    background-image: url(../Images/Textbox.png);
    position: fixed;
    padding-top: 1em;
    display: none;
    height: 403px;
    width: 775px;
    text-align: center;
    border-radius: 10px;
    font-size: 20px;
    transition: opacity .2s ease-out;
    left: -24%;
    top: 20%;
    color: white;
}

.menu-header {
    position: relative;
    top: -2%;
    font-weight: bold;
}

.playerName, #deck-name {
    position: relative;
    left: 22%;
    width: 50%;
    margin: 1em 0;
    padding: 8px;
    display: block;
    border-radius: 32px;
}

.start-game-button, #submit-deck-name {
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    background-color: white;
    height: 3em;
    width: 6em;
}

#deck-main-container {
    height: 65%;
    margin-top: 4px;
    display: grid;
    grid-template-columns: 1fr 3px 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
}

#deck-main-container > *:nth-child(2) {
    background-color: black;
}

.middleGrid > * {
    display: none;
}

#waitingGrid {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0 0;
    grid-template-areas: ". . .";
}

#enemy-ready-text {
    position: absolute;
    top: 70%;
    transform: translate(-20px);
}

#enter-arena-btn, #player-ready-text {
    position: relative;
    top: 75%;
    height: 3.5em;
    width: 10em;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
}

.foundText {
    display: none;
}

/*####################################################################################################################*/

#arena {
    opacity: 0;
    background-color: #54c06a;
}

#arena:after {
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    position: absolute;
    background-color: #c05456;
    content: "";
}

.border-div {
    position: absolute;
    z-index: 10;
    background: #ffd600;
    filter: blur(4px);
}

#border-top {
    height: 8px;
    width: 100%;
    top: 0;
}

#border-left {
    height: 100%;
    width: 8px;
    left: 0;
}

#border-right {
    height: 100%;
    width: 8px;
    right: 0;
}

#border-bottom {
    height: 8px;
    width: 100%;
}

hr {
    width: 100%;
    height: 0.5em;
    top: 48%;
    position: absolute;
    background-color: black;
    z-index: 1;
}

#arena-ui-elements {
    height: 100%;
    position: relative;
}

#arena-ui-elements > button {
    z-index: 4;
}

#freeze-game {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #f3f3f375;
    z-index: 15;
}

.pOneInfo, .pTwoInfo {
    background-color: black;
    border-radius: 10px;
    border: 3px solid black;
    color: white;
    position: relative;
    height: 10em;
    width: 15em;
    margin: 0 1em;
    padding: 1em;
    top: 38%;
    z-index: 4;
}

.pOneInfo {
    float: left;
}

.pTwoInfo {
    float: right;
}

.currentPhase {
    position: absolute;
    top: 47%;
    left: 41%;
    height: 3.2%;
    width: 16em;
    padding: 10px 0;
    color: white;
    background-color: black;
    border-radius: 0.6em;
    text-align: center;
    z-index: 4;
}

.buttons {
    background-color: black;
    color: white;
    position: relative;
    border-radius: 0.6em;
    height: 5em;
    width: 10em;
    margin-right: 1em;
    float: right;
    top: 90%;
    right: -15%;
}

.showHand {
    display: none;
}


.playerHand {
    position: relative;
    height: 22%;
    z-index: 3;
}

.playerHand > img {
    position: relative;
    height: 110%;
    width: 9%;
    margin: 0 3px;
    border-bottom: 2px solid black;
    background-color: black;
}

#pOneHand {
    top: -24%;
    left: 18%;
}

#pOneHand.enemyHand {
    top: -112%;
    left: -22%;
    transform: rotate(180deg);
}

#pTwoHand {
    top: -46%;
    left: 18%;
}

#pTwoHand.enemyHand {
    top: -134%;
    left: -22%;
    transform: rotate(180deg);
}

.enemyHand > img {
    filter: brightness(0);
}


.playerField {
    position: relative;
    height: 50%;
    z-index: 2;
}

#pOneField {
    top: -92%;
    left: 16%;
    width: 69%;
}
#pOneField > img, #pTwoField > img {
    height: 170px;
    margin: 15px 10px;
}

#pOneField.enemyField {
    top: -145%;
    transform: rotate(180deg);
}

#pTwoField {
    top: -144%;
}

#pTwoField.enemyField {
    top: -195%;
    transform: rotate(180deg);
}


ul {
    list-style: none;
}

.context-menu {
    z-index: 5 !important;
    position: absolute;
}

.menu {
    display: flex;
    flex-direction: column;
    background-color: black;
    border-radius: 0.6em;
    box-shadow: 0 10px 20px rgb(64 64 64 / 5%);
    padding: 10px 0;
}

.menu > li > button {
    all: unset;
    font: inherit;
    border: 0;
    padding: 10px 30px 10px 15px;
    display: flex;
    align-items: center;
    position: relative;
    text-decoration: unset;
    color: white;
    font-weight: 500;
    transition: 0.5s linear;
    -webkit-transition: 0.5s linear;
    -moz-transition: 0.5s linear;
    -ms-transition: 0.5s linear;
    -o-transition: 0.5s linear;
}

.menu > li > button:hover {
    background: #f1f3f7;
    color: red;
}

.menu > li > a > i {
    padding-right: 10px;
}

/*####################################################################################################################*/

#editor {
    background-color: #1e3d2d;
}

.deck-container {
    background-color: #23573d;
    width: 70%;
    height: 97%;
    margin: 1em;
    float: left;
    position: relative;
}

.deckform {
    box-shadow: 0 4px 10px 0 orange;
    padding: 0.01em 16px;
    width: 50%;
    border-radius: 32px;
    margin: 0 0 0 1em;
    float: left;
    position: relative;
}

#search-input {
    border-radius: 32px;
    background: none;
    color: lightgrey;
    border-color: orange;
    padding: 8px;
    display: block;
    width: 42%;
    margin: 1em 0 1em 0;
    position: relative;
    float: left;
}

#editor-search-card {
    width: 75px;
    color: lightgrey;
    background: none;
    position: relative;
    height: 37px;
    margin: 13px 0 0 10px;
    border-color: orange;
    border-style: solid;
    border-radius: 32px;
    border-width: 2px;
    float: left;
}

.card-container {
    background-color: #23573d;
    width: 26%;
    height: 97%;
    margin: 1em 1em 1em 0;
    float: right;
    position: relative;
    overflow: hidden;
}

.color {
    float: left;
    border-color: orange;
    background-color: #1e3d2d;
    color: lightgrey;
    border-style: solid;
    border-radius: 32px;
    border-width: 0.1em;
    padding: 8px;
    margin: 1em 1em 0 0.5em;
    width: 30%;
    position: relative;
}

.cardsearch {
    box-shadow: 0 4px 10px 0 orange;
    color: lightgrey;
    padding: 0.01em 16px;
    border-radius: 32px;
    margin: 0 1em 0 1em;
    width: 85%;
    float: right;
    position: relative;
}

#card-result-container {
    width: 104%;
    height: 91%;
    overflow-y: scroll;
    padding-right: 17px;
    box-sizing: content-box;
}

#card-result-container > img {
    height: 242px;
    padding: 5px 10px;
}

.deck-form {
    height: 72px;
}

#card-counter-div {
    position: relative;
    width: 35px;
    float: left;
    padding: 26px 79px;
}

#new-deck-menu {
    left: 24%;
}

#pName {
    float: left;
    border-color: orange;
    color: lightgrey;
    border-style: solid;
    border-radius: 32px;
    border-width: 0.1em;
    padding: 8px;
    margin: 1em;
    width: 40%;
    position: relative;
}

#editor-deck-selector {
    float: right;
    border-color: orange;
    color: lightgrey;
    border-style: solid;
    border-radius: 32px 0 0 32px;
    border-width: 2px 0 2px 2px;
    padding: 10px;
    margin: 15px 0 0 0.5em;
    width: 20%;
    position: relative;
    background: none;
    z-index: 1;
}

#editor-deck-selector > option {
    color: black;
}

#editor-deck-selector-addition {
    width: 25px;
    float: right;
    background: none;
    position: relative;
    height: 37px;
    margin: 15px 10px 0 0;
    border-color: orange;
    border-style: solid;
    border-radius: 0 32px 32px 0;
    border-width: 2px 2px 2px 0;
    left: -10px;
}

#editor-save-button {
    width: 100px;
    color: lightgrey;
    background: none;
    position: relative;
    height: 39px;
    margin: 15px 10px 0 0;
    border-color: orange;
    border-style: solid;
    border-radius: 32px;
    border-width: 2px;
    float: right;
    right: 5px;
}

#editor-save-button:hover, #search-input:hover, #search-input:focus, #editor-search-card:hover {
    background-color: #1e3d2d;
}

#editor-color-picker {
    width: 79px;
    color: lightgrey;
    background: none;
    position: relative;
    height: 36px;
    border-color: orange;
    border-style: solid;
    border-width: 2px;
    float: left;
    padding: 0 5px;
    margin: 14px 14px 0;
}

#editor-color-picker > option {
    color: black;
}

#editor-deck-container {
    width: 104%;
    height: 89%;
    overflow-y: scroll;
    padding: 0 17px 0 1em;
    box-sizing: content-box;
}

#editor-deck-container > img {
    height: 216px;
    padding: 7px;
}